.navbar {
  background:{
    color: rgba($black, 0.15); }
  border-bottom: 1px solid rgba($white, 0.5);
}
.navbar-nav{
  width: 100%;
  a {
    @include prefix(transition,background-color 500ms, moz webkit o ms);
    color: lighten($black, 5);
    padding: 15px;
    &:hover {
      @include prefix(transition,background-color 500ms, moz webkit o ms);
      background-color: rgba($light-gray, 0.55);
      text-decoration: none; }
    &.logo-link {
      display: inline-block;
      height: 50px;
      padding: 0;
      width: 50px;
      &:hover {
        background-color: transparent;
        path {
          @include prefix(transition,fill 500ms, moz webkit o ms);
          fill: rgba($black, 0.5);
        }
      }
    }
  }
  &-left-column  {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 45%;
    @include respond-to('small') {
      display: block;
      width:100%;
    }
  }
  &-right-column {
    @extend .navbar-nav-left-column;
    text-align: right;
  }
  &-left-content {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    @include respond-to('small') {
      display: block;
      text-align: left;
      width:100%;
    }
  }
  &-right-content {
    @extend .navbar-nav-left-content;
  }
  &-logo-content {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
    @include respond-to('small') {
      display: none;
    }
  }
  &-ico {
    path {
      @include prefix(transition,fill 500ms, moz webkit o ms);
      fill: rgba($black, 0.25);
    }
  }

}

.navbar-toggle {
  @include prefix(transition,background 500ms, moz webkit o ms);
  background: rgba($light-gray, 0.5);
  &:hover {
    @include prefix(transition,background 500ms, moz webkit o ms);
    background: rgba($light-gray, 1);;
  }
}
.icon-bar {
  background: rgba($black, .7);
}