// Colors
$black:     #000000;
$charcoal:  #464646;
$dark-blue: #313641;
$med-blue:  #666B73;
$light-blue:#8A9099;
$gray:      lighten(black, 50);
$light-gray:#e0e0e0;

$white:     #FFFFFF;
$bone:      #F2ECE5;

$khaki:     #D9D1C7;
$tan:       #8C8780;

$tangerine: #FB8606;
$electic-blue: #0F5B9A;

$brand-red:  #9a253f;
$brand-blue: #003366;

$light-green:#85bd0d;

$facebook-blue: #3a5795;

// Color pairs for standard colors.
$colors: "brand-red" "$brand-red", "charcoal" $charcoal, "white" $white, "light-blue" $light-blue, "med-blue" $med-blue, "dark-blue" $dark-blue, "bone" $bone, "khaki" $khaki, "tan" $tan;
@each $color in $colors {
  $key:   nth(unquote($color), 1);
  $value: nth($color, 2);
  .#{$key} {
    color:  $value;
    fill:   $value;
    &-bg {
      background-color: $value; } } }

// Breakpoints
$breakpoints: (
  'x-small':( max-width:  767px ),
  'small':  ( max-width:  768px ),
  'medium': ( max-width:  979px ),
  'medium-max': ( max-width:  1199px ),
  'large':  ( min-width: 1200px )
) !global;