// Colors
$black:     #000000;
$charcoal:  #464646;
$dark-blue: #313641;
$med-blue:  #666B73;
$light-blue:#8A9099;
$gray:      lighten(black, 50);
$light-gray:#e0e0e0;

$white:     #FFFFFF;
$bone:      #F2ECE5;

$khaki:     #D9D1C7;
$tan:       #8C8780;

$brand-red:  #9a253f;
$brand-blue: #003366;

// Color pairs for standard colors.
$colors: "brand-red" $brand-red, "charcoal" $charcoal, "white" $white, "light-blue" $light-blue, "med-blue" $med-blue, "dark-blue" $dark-blue, "bone" $bone, "khaki" $khaki, "tan" $tan;
@each $color in $colors {
  $key:   nth(unquote($color), 1);
  $value: nth($color, 2);
  .#{$key} {
    color:  $value;
    fill:   $value;
    &-bg {
      background-color: $value; } } }

// Breakpoints
$breakpoints: (
  'x-small':( max-width:  767px ),
  'small':  ( max-width:  768px ),
  'medium': ( max-width:  979px ),
  'medium-max': ( max-width:  1199px ),
  'large':  ( min-width: 1200px )
) !global;


//Fonts
$sansFontFamily:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:   "Josefin Slab", "Times New Roman", Times, serif;
$maven-pro:         "Maven Pro", $serifFontFamily;

$upper-class:   $sansFontFamily;
$dress-class:   $maven-pro;
$work-class:    $sansFontFamily;

.upper-class {  font-family:  $upper-class; line-height:110%; } // weird line-height
.dress-class {  font-family:  $dress-class; }
.work-class  {  font-family:  $work-class;  }