@charset "utf-8";
@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "buttons";

//Fonts
$sansFontFamily:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:   "Josefin Slab", "Times New Roman", Times, serif;
$maven-pro:         "Maven Pro", $serifFontFamily;

$upper-class:   $sansFontFamily;
$dress-class:   $maven-pro;
$work-class:    $sansFontFamily;

.upper-class {  font-family:  $upper-class; line-height:110%; } // weird line-height
.dress-class {  font-family:  $dress-class; }
.work-class  {  font-family:  $work-class;  }

// Resets
body,
html {
  background: $white;
  border-color: $light-gray;
  color: $charcoal;
  height: 100%;
  font:{
    family: $work-class;
    size: 1em;
    weight: normal; }
  width:  100%;
  text-align: center;
}
h1,
h2,
h3 {
  font:{
    family: $upper-class;
    weight: normal; } }

h4,
h5,
h6 {
  font:{
    family: $dress-class;
    weight: normal; } }

h2 {
  color: $brand-blue;
}

a,
ul li,
p {
  font:{
    family: $work-class;
    weight: normal; } }

.block {
  display: block; }

.bold {
  font-weight:  bold; }

.border-left  { border-left:  1px solid darken($bone, 10); }
.clear-both   { clear: both;    }
.clear-left   { clear: left;    }
.clear-right  { clear: right;   }
.margin-auto  { margin: 0 auto; }

// Overrides
.headroom {
    -webkit-transition: transform 200ms linear;
    -o-transition: transform 200ms linear;
    transition: transform 200ms linear }

.headroom--pinned {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%) }

.headroom--unpinned {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%) }

.modal {
  &-header {
    padding: 10px 20px 25px 15px;
  }
}


@import 'navigation';

.jumbotron {
  @include respond-to('small') {
    background:{
      position: 70% top;
      size: inherit;
    }
    min-height: 450px;
  }
  background:{
    image: url("../images/hero/mj-housekeeping-hero-img.jpeg");
    repeat: no-repeat;
    position: center top;
    size: cover;
  }
  margin: 0;
  min-height: 630px;
  padding: 0;
  text-align: left;
  &-cta-container {
    @include prefix(box-shadow, 0 0 3px rgba($black, 0.15), moz webkit o ms);
    @include prefix(border-radius, 2px, moz webkit o ms);
    background-color: rgba($white, 0.5);
  }
  p {
    font-size: 18px;
  }
  @include respond-to('small') {
    h1 {
      margin-top: 0; }
    p:last-of-type {
      margin-bottom: 0;
      padding-bottom: 10px; }
  }
  &-testimonial {
    color: $brand-red;
    display: block;
    span{
      display: block;
      &:first-of-type {
        font:{
          size: 1.5em;
          style: italic; }
        text-align: center;
      }
      &:last-of-type {
        font:{
          size: 1.25em;
          weight: bold; }
        text-align: right;
        width: 90%;
      }
    }
  }
  &.interior-pages {
    background:{
      image: url("../images/hero/mjs-housekeeping-hero-banner-1.jpg");
      color: #FAFAFA;
      repeat: no-repeat;
      position: 80% bottom;
      size: auto 80%; }
    min-height: 400px;
    @include respond-to('small') {
      background:{
        position: left bottom;
        size: 130%; }
      min-height: 100px;
    }
  }
  &-intro-title {
    font-size: 1.85em !important;
  }
  &-intro-list {
    border-bottom: 1px solid $brand-red;
    margin-bottom: 25px;
    padding: 5px 10px 20px 10px;
  }
  &-intro-text {
    @include respond-to('small') {
      background-color: rgba($white, 0.8);
    }
  }
}

.content-section {
  &-a {
    background-color: #fafafa;
    border:{
      top: 1px solid $light-gray;
      bottom: 1px solid $light-gray;  }
    padding-bottom: 40px; }
  &-b {
    border:{
      bottom: 1px solid $light-gray; }
    padding: 40px 0; }
  &-main-title {
    color: $brand-blue;
    margin-bottom: 20px;
  }
  &-image-logo {
    width: 40%;
  }
  &-image-logo-text {
    color: $black;
    display: block;
    margin-top: -10px;
    @include respond-to('small') {
      margin-top: 0; }
  }
  &-section-title {
    display: block;
    font:{
      size: 1.2em;
      weight: bold; }
  }
  &-tiles {
    @include prefix(border-radius, 2px, moz webkit o ms);
    border: 1px solid $light-gray;
    &.join-our-team {
      border: 3px solid rgba($brand-blue, 0.5);
      color: $brand-blue;
      margin-top: 40px;
    }
  }
  &-tiles-3 {
    @include prefix(border-radius, 1px, moz webkit o ms);
    @include prefix(transition,border-color 500ms, moz webkit o ms);
    @include float;
    border: 1px solid $light-gray;
    color: $brand-blue;
    margin:{
      left: 10px;
      right: 10px; }
    padding: 10px;
    width: calc((100% / 3) - 20px);
    &:hover {
      @include prefix(box-shadow, 0 0 3px rgba($brand-red, 0.25), moz webkit o ms);
      border-color: $brand-red;
      text-decoration: none; }
    @include respond-to('medium') {
      margin:{
        top: 5px;
        bottom: 5px;
      }
      width: calc(50% - 20px);
    }
    @include respond-to('small') {
      width: calc(100% - 20px);
    }
  }
  &-tiles-header {
    display: inline-block;
    vertical-align: middle;
    span {
      display: inline-block;
      text-align: left;
      width: 50%;
    }
    i {
      display: inline-block;
      font-size: 1.75em;
      position: relative;
      top: -7px;
    }
  }
  &-experience-ico {
    vertical-align: sub;
    height: 70px;
    left: 15px;
    position: relative;
    width: 70px !important;
    svg {
      fill: $brand-blue;
      height: 70px;
      width: 70px;
    }
  }
  &-callout {
    color: $brand-red;
    display: block;
    font:{
      weight: bold; }
    &:first-of-type {
    font:{
      size: 1.2em;
      style: italic; }
    }
  }
  &-testimonial {
    color: $brand-red;
    display: block;
    span{
      display: block;
      &:first-of-type {
        font:{
          size: 1.2em;
          style: italic; }
        text-align: center;
      }
      &:last-of-type {
        font-weight: bold;
        text-align: right;
        width: 80%;
      }
    }
  }
}
.footer {
  min-height: 75px;
  p {
    font-size: 0.8em;
    padding: 5px 0 10px 0;
  }
  &-navbar {
    display: inline-block;
    list-style:none;
    margin: 10px 0 0 0;
    padding: 0;
    vertical-align: middle;
    li {
      border-right: 1px solid $light-gray;
      display: inline-block;
      padding: 0 10px;
      &:last-of-type {
        border-right: none;
      }
    }
    a {
      @include prefix(transition,color 500ms, moz webkit o ms);
      color: #777;
      &:hover {
        @include prefix(transition,color 500ms, moz webkit o ms);
        color: $brand-red;
        text-decoration: none;
      }
    }
  }
}