@charset "utf-8";
@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "buttons";

//Fonts
$sansFontFamily:    "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:   "Josefin Slab", "Times New Roman", Times, serif;
$maven-pro:         "Maven Pro", $serifFontFamily;
$script:            "Sacramento", $serifFontFamily;

$upper-class:   $sansFontFamily;
$dress-class:   $maven-pro;
$work-class:    $sansFontFamily;

.upper-class {  font-family:  $upper-class; line-height:110%; } // weird line-height
.dress-class {  font-family:  $dress-class; }
.work-class  {  font-family:  $work-class;  }

// Resets
body,
html {
  background: $white;
  border-color: $light-gray;
  color: $charcoal;
  height: 100%;
  font:{
    family: $work-class;
    size: 1em;
    weight: normal; }
  width:  100%;
  text-align: center;
}
h1,
h2,
h3 {
  font:{
    family: $upper-class;
    weight: normal; } }

h4,
h5,
h6 {
  font:{
    family: $dress-class;
    weight: normal; } }

h2 {
  color: $brand-blue;
}

a,
ul li,
p {
  font:{
    family: $work-class;
    weight: normal; } }

hr{
  &.thick {
    border-top: 5px solid $light-green;
  }
  &.tight {
    margin: 5px 0;
  }
}

.block {
  display: block; }

.bold {
  font-weight:  bold; }

.border-left  { border-left:  1px solid darken($bone, 10); }
.clear-both   { clear: both;    }
.clear-left   { clear: left;    }
.clear-right  { clear: right;   }
.margin-auto  { margin: 0 auto; }

// Navigation
.navbar {
  background:{
    color: rgba($white, 0.15); }
  border-bottom: 1px solid rgba($white, 0.5);
  margin-bottom: 5px;
  @include respond-to('small') {
    margin-bottom: 0;
  }
  &-header {
    float: left;
  }
  &-collapse {
    float: left;
    top: 65px;
    padding: 0;
    position: relative;
    @include respond-to('medium') {
      top: 0;
      width: 100%;

    }
    @include respond-to('small') {
      top: 0;
      width: 100%;

    }
  }
  &-brand {
    color: $black;
    height: auto;
    width: 100%;
    @include respond-to('small') {
      padding: 10px 0;
      width: 79%;
    }
    &-img {
      width: 100%;
    }
    .logo-ico {
      display: inline-block;
      position: relative;
      top: 5px;
      vertical-align: middle;
      width: 23%;
      @include respond-to('small') {
        left: 20px;
      }
    }
    .logo-text {
      display: inline-block;
      line-height: 100%;
      text-align: left;
      vertical-align: middle;
      width: 70%;
      span {
        display: block;
        line-height: 100%;

        &:nth-of-type(1) {
          font:{
            size: 2.9em;
            variant: small-caps; }
        }
        &:nth-of-type(2) {
          font-size: 0.8em;
        }
      }
    @include respond-to('small') {
      display:none;
     }
    }
  }
}
.navbar-nav{
  width: 100%;
  li {
    border-right: 1px solid $light-gray;
    &:last-of-type {
      border-right: none;
      a {
        border-bottom: none;
      }
    }
    &:first-of-type a{
      @include respond-to('small'){
        border-top: 6px solid $light-green;
      }
    }
  }
  a {
    @include prefix(transition,background-color color 500ms, moz webkit o ms);
    color: $light-green;
    padding:  5px 15px !important;
    &:hover {
      @include prefix(transition,background-color color 500ms, moz webkit o ms);
      background-color: rgba($light-green, 0.15);
      color: lighten($black, 5);
      text-decoration: none; }
    &.logo-link {
      display: inline-block;
      height: 50px;
      padding: 0;
      width: 50px;
      &:hover {
        background-color: transparent;
        path {
          @include prefix(transition,fill 500ms, moz webkit o ms);
          fill: rgba($black, 0.5);
        }
      }
    }
    &.facebook-ico {
      color: $facebook-blue;
      &:hover {
        background-color: transparent;
        color: mix($white, $facebook-blue, 30);
      }
    }
  }
  @include respond-to('small') {
    margin:{
      top: 0;
      bottom: 0; }
    width: 108.25%;
    a {
      display: block;
      border-bottom: 1px solid rgba($black, 0.5);
      width: 100%; }
  }
  &-left-column  {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 45%;
    @include respond-to('small') {
      display: block;
      width:100%;
    }
  }
  &-right-column {
    @extend .navbar-nav-left-column;
    text-align: right;
  }
  &-left-content {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    @include respond-to('small') {
      display: block;
      text-align: left;
      width:100%;
    }
  }
  &-right-content {
    @extend .navbar-nav-left-content;
  }
  &-logo-content {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
    @include respond-to('small') {
      display: none;
    }
  }
  &-ico {
    path {
      @include prefix(transition,fill 500ms, moz webkit o ms);
      fill: rgba($black, 0.25);
    }
  }

}

.navbar-toggle {
  @include prefix(border-radius, 1px, o ms moz webkit);
  @include prefix(transition,background 500ms, moz webkit o ms);
  background: $light-green;
  &:hover {
    @include prefix(transition,background 500ms, moz webkit o ms);
    background: rgba($light-gray, 1);;
  }
}
.icon-bar {
  background: $white;
}

.jumbotron {
  background-color: $white;
  margin: 0;
  min-height: auto;
  padding: 0 0 20px 0;
  text-align: left;
  &-hero-left {
    background:{
      image: url("../images/hero/mjs-housekeeping-hero-img-2.jpeg");
      repeat: no-repeat;
      position: center top;
      size: cover; }
    height: 475px;
    @include respond-to('small') {
    height: 275px;  }
  }
  @include respond-to('small') {
    background:{
      position: 70% top;
      size: inherit;
    }
    min-height: 450px;
  }
  &-cta-container {
    border-top: 5px solid $light-green;
    padding: 0 0 0 5px;
    h3 i:nth-of-type(2) {
      padding-left: 15%;
    }
  }

  &-testimonial {
    color: $brand-red;
    display: block;
    padding-top: 10px;
    span{
      display: block;
      &:first-of-type {
        font:{
          size: 1.15em;
          style: italic; }
        text-align: center;
      }
      &:last-of-type {
        font:{
          size: 1.25em;
          weight: bold; }
        text-align: right;
        width: 90%;
      }
    }
  }
  &-image-logo {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
  }
  &-image-logo-text {
    color: $black;
    display: inline-block;
    margin-top: -10px;
    vertical-align: middle;
    span {
      display: block;
      &:nth-of-type(2) {
        font:{
          size: 35%; }
      }
    }
    @include respond-to('small') {
      margin-top: 0; }
  }
  &-owner-img {
    background:{
      image: url("../images/hero/mjs-housekeeping-hero-owner-img.jpeg");
      repeat: no-repeat;
      position: center top;
      size: cover; }
    height: 250px;
  }
  &-owner-signature {
    color: rgba($black, 0.75);
    font:{
      family: $script;
      size: 2.25em !important; }
    position: relative;
    right: 55%;
    text-align: right;
    top: 45%;
    span:nth-of-type(2) {
      font-size: 1.25em !important;
      margin:{
        top: -20px;
        right: 20px; }

    }
  }
}

.content-section {
  &-a {
    &-intro {
      border:{
        top: 5px solid $light-green;
        bottom: 5px solid $light-green;
      }
      margin: 30px 0;
      padding:{
       top: 20px;
       bottom: 20px; }
      @include respond-to('small') {
        margin: 5px 0 20px 0;
        padding:{
          top: 5px;
          bottom: 5px; }
      }
      &.img-box {
        margin-top: 0;
        padding-bottom: 0;
      }
    }
    &-img-title {
      @include font-size(2);
      color: $electic-blue;
      margin-top: 15%;
      text-align: left;
      @include respond-to('small') {
        border-top: 5px solid $light-green;
        margin: 0 10px;
        padding-top: 20px;
        text-align: center;
      }
    }
    &-intro-title {
      color: $light-green;
      text-align: left;
      @include respond-to('small') {
        font-size: 1.2em;
        margin-top: 5px;@include respond-to('small') {
        margin: 5px 0 20px 0;
        padding: 5px 0;
      }
        padding:{
          left: 10px;
          right: 10px; }
      }
      span{
        @include font-size(1.9);
        font:{
          weight: 200; }
        display: block;
        @include respond-to('small') {
          @include font-size(1.5);
        }
        &:nth-of-type(1) {
          color: rgba($light-green, 0.75);
          @include font-size(4);
          padding-bottom: 10px;
          @include respond-to('small') {
            @include font-size(3);
          }
        }
      }
    }
    &-intro-text {
      border-left: 1px solid $light-gray;
      margin-top: 10px;
      padding: 20px 60px;
      text-align: left;
      &.img-text {
        @include font-size(1.2);
      }
      @include respond-to('small') {
        padding: 10px;  }
    }
    &-content{
      border:{
        top: 5px solid $light-green;
        bottom: 5px solid $light-green; }
      padding-bottom: 40px;
    }
  }
    &-main-title {
    color: darken($light-gray, 40);
    margin-bottom: 20px;
  }
  &-tiles {
    @include prefix(border-radius, 2px, moz webkit o ms);
    border: 1px solid $light-gray;
    &.join-our-team {
      border: 3px solid rgba($brand-blue, 0.5);
      color: $brand-blue;
      margin-top: 70px;
      @include respond-to('small') {
        margin:{
          top: 5px;
          right: 15px;
          bottom: 5px;
          left: 15px;
        }
      }
    }
  }
  &-tiles-3 {
    @include prefix(border-radius, 1px, moz webkit o ms);
    @include prefix(transition,border-color 500ms, moz webkit o ms);
    @include prefix(transition,background-color 500ms, moz webkit o ms);
    @include float;
    background-color: $white;
    border: 1px solid $light-gray;
    color: darken($light-gray, 20);
    margin:{
      left: 10px;
      right: 10px; }
    min-height: 295px;
    padding: 10px;
    width: calc((100% / 3) - 20px);
    &:hover {
      @include prefix(transition,all 500ms, moz webkit o ms);
      @include prefix(box-shadow, 0 0 10px -2px rgba(darken($light-gray, 50), 0.35), moz webkit o ms);
      background-color: rgba($light-gray, 0.1);
      border-color: $light-green;
      text-decoration: none;
      h2, p {
        @include prefix(transition,color 500ms, moz webkit o ms);
        color: darken($light-gray, 40);
        }
      i {
        @include prefix(transition,color 500ms, moz webkit o ms);
        color: $light-green
        }
      svg {
        @include prefix(transition,fill 500ms, moz webkit o ms);
        fill: $light-green;
        } }
    @include respond-to('medium') {
      margin:{
        top: 5px;
        bottom: 5px;
      }
      width: calc(50% - 20px);
    }
    @include respond-to('small') {
      width: calc(100% - 20px);
    }
  }
  &-tiles-header {
    color: darken($light-gray, 20);
    display: inline-block;
    vertical-align: middle;
    span {
      display: inline-block;
      text-align: left;
      width: 52%;
    }
    i {
      @include prefix(transition,color 500ms, moz webkit o ms);
      color: rgba($light-green, 0.5);
      display: inline-block;
      font-size: 1.75em;
      position: relative;
      top: -7px;
    }
  }
  &-experience-ico {
    vertical-align: sub;
    height: 70px;
    left: 15px;
    position: relative;
    width: 70px !important;
    svg {
      @include prefix(transition,fill 500ms, moz webkit o ms);
      fill: rgba($light-green, 0.5);
      height: 70px;
      width: 70px;
    }
  }
  &-callout {
    display: block;
    font:{
      weight: bold; }
    &:first-of-type {
    font:{
      size: 1.2em;
      style: italic; }
    }
  }
  &-testimonial {
    color: $brand-red;
    display: block;
    span{
      display: block;
      &:first-of-type {
        font:{
          size: 1.2em;
          style: italic; }
        text-align: center;
      }
      &:last-of-type {
        font-weight: bold;
        text-align: right;
        width: 80%;
      }
    }
  }
    &-testimonial-sub {
    color: $brand-red;
    display: block;
    span{
      display: block;
      &:first-of-type {
        font:{
          size: 1.5em;
          style: italic; }
        text-align: left;
      }
      &:last-of-type {
        font-weight: bold;
        text-align: right;
        width: 80%;
      }
    }
  }

  &-b {
    &-intro-text {
      text-align: left;
      &.heading {
        @include font-size(1.25);
        color: $med-blue;
        font-weight: bold;
        margin:{
          bottom: 0;
          top: 20px; }
      }
      &.img-text {
        @include font-size(1.2);
        line-height: 150%;
        padding: 0 10px;
      }
    }
    &-img-title {
      @include font-size(2);
      color: $electic-blue;
      margin-top: 20%;
      text-align: left;
      @include respond-to('small') {
        border-top: 5px solid $light-green;
        margin-top: 0;
        padding-top: 20px;
        text-align: center;
      }
    }
    &-intro-img img{
      width: 100%;
    }
    &-intro-text-list {
      text-align: left;
    }
  }
}

.faq {
  $primary: $electic-blue;
  &-accordion {
    .panel-default {
      @include prefix(border-radius, 1px, o ms webkit moz);
      background-color: $white;
      border-color: $primary;
    }
    .panel-default {
      margin-bottom: 15px;
      & > .panel-heading {
          @include prefix(border-radius, 1px, o ms webkit moz);
          border-color: $primary;
          padding:  0;
      }
    }
    .panel-title a {
      @include prefix(transition, all 300ms, o ms moz webkit);
      @include font-size(1.5);
      // background-color: $white;
      color: $primary;
      display: block;
      padding: 10px;
      &:hover {
        @include prefix(transition, all 300ms, o ms moz webkit);
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
        outline: none;
      }
      i {
        @include font-size(2);
        padding-right: 10px;
      }
    }
    .panel-body {
      border-top-color: $primary !important;
      color: $gray;
    }
    .panel {
      @include prefix(transition, all 300ms, o ms moz webkit);
      background-color: mix($white, $primary, 90);
      &:hover,
      &.active {
        @include prefix(transition, all 300ms, o ms moz webkit);
        @include prefix(box-shadow, 0 0 10px -2px rgba(mix($black, $primary, 20), 0.85), o ms webkit moz);
        .panel-body,
        .panel-title a {
          background-color: $white;
        }
      }
    }
  }
}

.pp-accordion {
  .panel-title {
    padding: 0;
  }
  .panel {
    @include prefix(box-shadow, 0 0 0 transparent, o ms moz webkit);
  }
  .panel-default {
    border: none;
    & > .panel-heading {
      background-color: $white;
      border:none;
      padding: 0;
    }
  }
  .panel-body {
    border-top: none !important;
    padding: 0;
  }
}
.feature {
  &-wrapper {
    padding-bottom: 10px;
  }
  &-title {
    @include font-size(2);
    color: $electic-blue;
    margin-bottom: 30px;
  }
  &-circle-container {
    display: inline-block;
  }
  &-circle {
    background-color: $light-gray;
    border-radius: 50%;
    display: table;
    height: 80px;
    width: 80px;
    span {
      @include font-size(3.5);
      color: mix($black, $light-green, 20);
      display: table-cell;
      text-shadow: 1px 1px 1px rgba($white, 0.9);
      vertical-align: middle;
    }
  }
  &-bucket {
    margin-bottom: 50px;
    text-align: left;
    @include respond-to('small') {
      text-align: center;
    }
    h6 {
      @include font-size(1.5);
    }
    p {
     @include font-size(1.25);
    }
  }
}

.quote {
  &-section {
    h3 {
      @include font-size(2);
      color: $electic-blue;
      margin:{
        bottom: 30px;
        top: 0; }
    }
  }
  &-container {
    @include prefix(border-radius, 1px, o ms moz webkit);
    border: 1px solid $electic-blue;
    h4 {
      @include font-size(2);
      background-color: $electic-blue;
      color: $white;
      margin-top: 0;
      padding: 10px;
    }
  }
  &-form {
    padding: 20px;
  }
}

////////// Wufoo Overrides //////////
#wufooFormzz6kt300ddqn3i {
  min-height: 890px;
}

#wufooFormm122atct0fftqmg {
 min-height: 930px;
}
.wufoo {
  .info {
    border-bottom: none;
    padding: 0;
    h2 {
      @include font-size(2);
      background-color: $electic-blue;
      color: $white;
      font-family: $sansFontFamily;
      margin-top: 0;
      padding: 10px;
    }
  }
  fieldset {
    border: none;
    padding: 0;
  }

  input.text,
  textarea.textarea,
  input.file,
  select.select
   {
    @include prefix( box-shadow, inset 0 1px 1px rgba(0,0,0, 0.075), o ms moz webkit);
    @include prefix( border-radius, 3px, o ms moz webkit);
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 20px;
    line-height: 1.42857143;
    padding: 6px 12px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  select.select {
    height: 34px;
  }
  textarea.textarea {
    height: 5.5em;
    width: 100%;
  }

  input.btTxt {
    $primary: $brand-blue;
    @include prefix( border-radius, 4px, o ms moz webkit );
    @include prefix( transition, all 500ms, o ms moz webkit );
    @include prefix( user-select, none, ms moz webkit );
    @include font-size(1.75);
    background: $primary;
    border:{
      color: lighten($med-blue, 20);
      style:  solid;
      width: 1px; }
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    padding: 6px 16px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    &:hover {
      @include prefix(transition,all 500ms, moz webkit o ms);
      background: lighten($primary, 15);
      border-color: lighten($primary, 15);
      color:      $white; }
  }
  textarea.textarea {
    min-width: 0;
    width: 95%;
  }
}

form.wufoo {
  @include prefix(border-radius, 3px, o ms moz webkit);
  border: 1px solid $electic-blue;
}
form li.complex div span.full input,
form li.complex div span.full select,
form li.complex div span.left input,
form li.complex div span.right input,
form li.complex div span.left select,
form li.complex div span.right select {
  width: 90%;
}
form li.complex div span.right select {
  width: 101%;
}
.noI {
  form li{
    &.buttons {
      margin-bottom: 0px !important;
      text-align: center;
    }
    &#fo1li14 span {
      margin-right: 1em;
    }
  }
}


////////// Wufoo Overrides //////////


.testimonials {
  &-title {
    @include font-size(2);
  }
  &-subtitle {
    @include font-size(1.5);
    color: $electic-blue;
  }
}

.col-md-margin-bottom-0 {
  margin-bottom: 0;
}
.col-md-margin-top-0 {
  margin-top: 0;
}
.col-md-margin-bottom-15 {
  margin-bottom: 15px;
}
.step {
  position: relative;
  .circle{
    @include prefix(border-radius, 50%, o ms moz webkit);
    background-color: $electic-blue;
    border: 2px solid $electic-blue;
    display: inline-block;
    height: 100px;
    margin: 15px auto;
    position: relative;
    vertical-align: middle;
    width: 100px;
    z-index: 3;
    span {
      @include font-size(5.5);
      display:inline-block;
      color: $white;
      vertical-align: middle;
    }
  }
  &-label {
    @include font-size(1.25);
    color: $electic-blue;
  }
  &.next {
    .circle {
      background-color: $white;
      border-color: $light-gray;
      span {
        color: $light-gray;
      }
    }
    .step-label,
    .step-title {
      color: $light-gray;
    }
  }
}
.bar {
  background-color: $light-gray;
  height: 10px;
  left: 50%;
  position: absolute;
  top: 62px;
  width: 100%;
  z-index: 1;
}

// Footer
.footer {
  background-color: lighten($light-gray, 5);
  border-top: 1px solid lighten($light-gray, 2);
  margin-top: 20px;
  min-height: 75px;
  &-copyright {
    @include font-size(.8);
    color: lighten(#777, 20);
    padding: 5px 0 10px 0;
  }
  &-title {
    @include font-size(1.5);
    border-bottom: 1px solid $light-gray;
    color: #777;
    margin: 0 15% 10px 15%;
    padding: 10px 0 10px 0;
  }
  &-navbar {
    display: inline-block;
    list-style:none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    li {
      border-right: 1px solid $light-gray;
      display: inline-block;
      padding: 0 10px;
      &:last-of-type {
        border-right: none;
      }
    }
    a {
      @include prefix(transition,color 500ms, moz webkit o ms);
      color: #777;
      &:hover {
        @include prefix(transition,color 500ms, moz webkit o ms);
        color: $brand-red;
        text-decoration: none;
      }
    }
  }
}