.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Since 1986 
            %span Locally Owned and Operated
        .col-md-7
          %p.content-section-a-intro-text><
            Life is far too short to be cleaning your home in your free time. Let us help you get and keep your life in order so that when you have free time, you can use it for exactly what you’d like. We are available Monday – Friday 8am to 4:30pm. Call us at 253-926-1012 or
            = link_to "Get a Quote", "/get-quote.html"
            and fill out our online form.

.container.content-section-b
  .row
    .col-md-12.content-section-b-intro.img-box
      .row
        .col-md-4.col-md-push-6
          .content-section-b-intro-img= image_tag "/images/hero/mjs-housekeeping-mj.jpg", class: 'img-reponsive'
        .col-md-4.col-md-pull-2
          %h3.content-section-b-img-title Mary Jane
          %hr
          %p.content-section-b-intro-text.img-text><
            Mary Jane has 30+ years working in customer service, including joining Dana's Housekeeping in 1996. The owner of Dana's Housekeeping decided to down size in 2012, and sold the Tacoma and Olympia offices to Mary Jane at that time. She is the best of the best in customer service, and is very proud to be the owner of MJ's Housekeeping.

.container.content-section-a
  .row
    .col-md-12.content-section-a-intro.img-box
      .row
        .col-md-4.col-md-push-2
          .content-section-b-intro-img= image_tag "/images/hero/mjs-housekeeping-rachel.jpg", class: 'img-reponsive'
        .col-md-4.col-md-push-2
          %h3.content-section-a-img-title Rachel
          %hr
          %p.content-section-b-intro-text.img-text><
            Rachel worked as a professional housekeeper out of our Olympia office for 8 years. She recently took over as our office manager, and is really excited to be able to offer insight from her experience as a housekeeper to help make your cleaning experience the best it can be. She is incredibly proud to have moved into management after being a housekeeper for so many years, and in doing so, can personally vouch for the success of the company from both sides of the field!


.container
  .row
    .col-md-12
      %h3.feature-title.col-md-margin-top-0.col-md-margin-bottom-15
        We are conveniently covering the entire South Sound Area.
      %p.text-center
        %a.btn.btn-light-green.btn-lg{ href: "/get-quote.html", role: "button"} Get a Quote Today!