---
page_name: "get_quote"
---

.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Get a Quote
            %span Mj's Housekeeping can help you.
        .col-md-7
          %p.content-section-a-intro-text><
            Please provide us some basic information – we will follow up with you on the phone or through email to get more details. Once we get in touch with you we can give you our best suggestion for the amount of time you need based on the size of your home, and the level and style of housekeeping you’d like to receive.
            %br
            %br
            We do not do move-in or move-out cleaning. We are setup for and our specialty is cleaning occupied, residential, single-family homes.

.container.content-section-b
  .row
    .col-md-12.content-section-b-intro
      .quote-section
        %h3><
          Give us a call or fill out our online form!
          %br
          We are available Monday – Friday 8am to 4:30pm.
          %br
          For Tacoma call 253-926-1012 and for Olympia call 360-359-4988.
      .row
        .col-md-6
          %small
            %a{ href: 'https://mjshousekeeping.wufoo.com/forms/zz6kt300ddqn3i/', target: "_blank" }Click here to fill out the form on your mobile.
          #wufoo-zz6kt300ddqn3i
            Fill out my
            %a{ href: "https://mjshousekeeping.wufoo.com/forms/zz6kt300ddqn3i" } online form.


        .col-md-6
          .content-section-b-intro-img= image_tag "/images/hero/mjs-housekeeping-quote1-img.jpg", class: 'img-reponsive'
