.jumbotron
  = partial "layouts/navigation"
  .container
    .row
      .col-md-6.col-md-offset-1.jumbotron-cta-container
        %h1><
          = image_tag 'images/hero/mjs-housekeeping-orig-logo.png', class: "content-section-image-logo img-responsive", alt: "MJs Housekeeping Logo"
          %span.content-section-image-logo-text>< Housekeeping
        %p><
          %span.content-section-section-title Taking care of people is what we love to do!
          %span.block><
            %i We don't just take care of houses... We take care of people's homes!
        %p><
          %span.jumbotron-testimonial><
            %span "MJ's is fantastic!  My house looked amazing!"
            %span Pam N. &nbsp;–Edgewood, WA
        %p.text-center
          %a.btn.btn-brand-red.btn-lg{ href: "#", role: "button"} Get a Quote Now!

.content-section-a
  .container
    .row
      .col-md-12
        %h2.content-section-main-title Find out why we are the South Sound’s &#35;1 Housekeeping Referral Agency
    .row
      %a.content-section-tiles-3{ href: "#", role: "button"}
        %h2.content-section-tiles-header><
          = inline_svg('maid-service-ico', class: "content-section-experience-ico")
          %span Experienced Housekeepers
        %p.text-left><
          %span.content-section-callout We hire the best:
          %span.content-section-callout Bonded and Insured for your protection.
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p.text-center
          %span.btn.btn-default View details &raquo;
      %a.content-section-tiles-3{ href: "#", role: "button"}
        %h2.content-section-tiles-header><
          %i.fa.fa-calendar-check-o
          %span Flexible Schedules
        %p.text-left><
          %span.content-section-callout Cleaning service to fit your schedule:
          %span.content-section-callout Weekly, Bi-Weekly, One time or Occasional.
          Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        %p.text-center
          %span.btn.btn-default View details &raquo;
      %a.content-section-tiles-3{ href: "#", role: "button"}
        %h2.content-section-tiles-header><
          %i.fa.fa-users
          %span Personalized Maid Service
        %p.text-left><
          %span.content-section-callout Customized Cleaning:
          %span.content-section-callout What you want, where you want.
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %p.text-center
          %span.btn.btn-default View details &raquo;
.content-section-b
  .container
    .row
      .col-md-7.text-left
        %h2 Why use MJ's?
        %p More parents are working longer hours and their children have lots of activities after school. Family time can be difficult to come by. Housekeeping services by MJ's will allow you to spend less time cleaning and more quality time with your family. Maybe you could even fit in a little "me" time. Our clients think so!
        %hr
        %p.content-section-testimonial><
          %span "Miriam did an excellent job!  She got so much done it was unbelievable!"
          %span Chrissy B. &nbsp;–Tacoma, WA
        %hr
        %p.content-section-testimonial><
          %span "Everyone you have sent us has done such a great job!  I really appreciate it!"
          %span Katherine F. &nbsp;–Tacoma, WA

      .col-md-4.content-section-tiles.pull-right.join-our-team
        %h2><
          %i Join our Team
        %p.text-left Criteria for the contractors is you must have previous experience cleaning homes, hotel/motels, any sort of cleaning experience for at least a year.  Also you must be a reliable and good communicators.
        %p><
          Looking to join our team
          %br>< as an independent housekeeper?
        %p
          %a.btn.btn-med-blue.btn-lg{:href => "#", :role => "button"} Find Out How!