.jumbotron
  .container
    .row
      .col-md-7.jumbotron-hero-left
      .col-md-5
        .jumbotron-cta-container
          %h3><
            %i.block We don't just take care of houses...
            %i.block We take care of people's homes!
          .jumbotron-owner-img
            %p.jumbotron-owner-signature
              %span.block Sincerely,
              %span.block MJ

          %p><
            %span.jumbotron-testimonial><
              %span "MJ's is fantastic!  My house looked amazing!"
              %span Pam N. &nbsp;–Edgewood, WA
          %p.text-center
            %a.btn.btn-light-green.btn-lg{ href: "/get-quote", role: "button"} Get a Quote Now!

.content-section-a
  .container
    .content-section-a-content
      .row
        .col-md-12
          %h2.content-section-main-title Find out why we are the South Sound’s &#35;1 Housekeeping Referral Agency
      .row
        %a.content-section-tiles-3{ href: "#", role: "button"}
          %h2.content-section-tiles-header><
            = inline_svg('maid-service-ico', class: "content-section-experience-ico")
            %span Experienced Housekeepers
          %p.text-left><
            %span.content-section-callout We work with the best:
            %span.content-section-callout Bonded and Insured for your protection.
            MJ's finds and refers professional housekeepers to clients who want their homes cleaned. We offer very flexible hours of service and a wide variety of special talents. We also review your housekeeper's performance frequently.

        %a.content-section-tiles-3{ href: "#", role: "button"}
          %h2.content-section-tiles-header><
            %i.fa.fa-calendar-check-o
            %span Flexible Schedules
          %p.text-left><
            %span.content-section-callout Cleaning service to fit your schedule:
            %span.content-section-callout Weekly, Bi-weekly, Monthly, or Occasional.
            We manage the schedules of the housekeepers. We always do our very best to match you with someone that will take good care of you, for as long as you desire, in a way that is beneficial to you both.

        %a.content-section-tiles-3{ href: "#", role: "button"}
          %h2.content-section-tiles-header><
            %i.fa.fa-users
            %span Personalized Service
          %p.text-left><
            %span.content-section-callout Customized Cleaning:
            %span.content-section-callout What you want, where you want.
            The service we provide is personalized, and the housekeepers are chosen based on what preferences you have spoken with us about. We will tailor your service around your needs and wants for your home.


.content-section-b
  .container
    .row
      .col-md-7.text-left
        %h2 Why use MJ's?
        %p We are a small, locally owned and operated business that has been around since 1986. We sincerely love our jobs, and love taking care of the housekeepers and clientele. We personally see to it that you are happy with your service! You can reach us by phone or email Monday – Friday, 8-4:30. We have many years of experience managing the housekeepers schedules, and working with clients to makes adjustments to their service, if necessary, to make it exactly what you’re looking for.
        %hr
        %p.content-section-testimonial><
          %span "Miriam did an excellent job!  She got so much done it was unbelievable!"
          %span Chrissy B. &nbsp;–Tacoma, WA
        %hr
        %p.content-section-testimonial><
          %span "Everyone you have sent us has done such a great job!  I really appreciate it!"
          %span Katherine F. &nbsp;–Tacoma, WA

      .col-md-4.content-section-tiles.pull-right.join-our-team
        %h2><
          %i New Client Special
        %p.text-left We recommend for your first-time cleaning with us to have our “8-Hour Special”, which is two housekeepers for 4 hours, for $20.00 off.*
        %h3><
          Call us today at 253-926-1012
        %p
          %a.btn.btn-med-blue.btn-lg{:href => "/join-our-team", :role => "button"} Contact Us Online!
        %p><
          %small * Subject to housekeeper availability.