.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-8
          %h1.content-section-a-intro-title
            %span
              %i Join Our Team
        .col-md-4