---
page_name: "join_our_team"
---
.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Join Our Team
        .col-md-7
          %p.content-section-a-intro-text><
            We are looking for very experienced housekeepers.  Please attach a resume if you have one and let us know the zip code you live in.  You can contact us at either our office in Tacoma or our office in Olympia depending on the area you live in.  The numbers are 253-926-1219 for Tacoma or 360-359-4988 for Olympia.

.container.content-section-b
  .row
    .col-md-6
      #wufoo-m122atct0fftqmg
        Fill out my
        %a{ href: "https://mjshousekeeping.wufoo.com/forms/m122atct0fftqmg"} online form.

    .col-md-6
      .content-section-b-intro-img= image_tag "/images/hero/mjs-housekeeping-quote1-img.jpg", class: 'img-reponsive'

