.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Join Our Team
        .col-md-7
          %p.content-section-a-intro-text><
            We are looking for very experienced housekeepers.  Please attach a resume if you have one and let us know the zip code you live in.  You can contact us at either our office in Tacoma or our office in Olympia depending on the area you live in.  The numbers are 253-926-1219 for Tacoma or 360-359-4988 for Olympia.

.container.content-section-b
  .row
    .col-md-12
      .quote-container.join-our-team
        %h4 Let's start with some basic information
        .form-horizontal.quote-form
          .row
            .col-md-6
              .form-group
                %label{ for: "input1", class: "col-sm-4 control-label"} First Name
                .col-sm-8
                  %input{ type:"text", class: "form-control", id: "input1", placeholder: "John"}
              .form-group
                %label{ for: "input1", class: "col-sm-4 control-label"} Last Name
                .col-sm-8
                  %input{ type:"text", class: "form-control", id: "input1", placeholder: "Doe"}
              .form-group
                %label{ for: "input2", class: "col-sm-4 control-label"} Email
                .col-sm-8
                  %input{ type:"email", class: "form-control", id: "input2", placeholder: "john.doe@myname.com"}
            .col-md-6
              .form-group
                %label{ for: "input3", class: "col-sm-4 control-label"} Contact Phone
                .col-sm-8
                  %input{ type:"phone", class: "form-control", id: "input3", placeholder: "(206) 555-1212"}
              .form-group
                %label{ for: "input4", class: "col-sm-4 control-label"} Zip Code
                .col-sm-8
                  %select{ type:"select", class: "form-control", id: "input4", placeholder: "12345"}
                    %options 1
                    %options 2
              .form-group
                %label{ for: "input5", class: "col-sm-4 control-label"} Address
                .col-sm-8
                  %textarea{ class: "form-control", id: "input5", row: 5, placeholder: "123 Main Street, Anywhere, US"}
          .form-group
            .col-sm-offset-1.col-sm-10
              %a.btn.btn-tangerine.btn-lg{ href: "#", role: "button"} Next Step: Add some details

