.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i What does
            %span Mj's Housekeeping do for you?
        .col-md-7
          %p.content-section-a-intro-text><
            Finds and refers professional housekeepers to clients who want their homes cleaned.
            Offers very flexible hours of service and a wide variety of special talents.
            Reviews your housekeeper's performance frequently.
            Provides protection for your valuables against the remote possibility of housekeeper theft. Our theft protection plan pays up to $3,000 upon conviction.
            Housekeepers assume full responsibility for any damage they may cause.

.container.content-section-b
  .row
    .col-md-12.content-section-b-intro
      .row
        .col-md-4
          %p.content-section-b-intro-text><
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex tellus, viverra eget erat non, feugiat congue leo. Cras finibus lectus at turpis suscipit, ut fermentum odio consequat. Nam mattis augue at odio dignissim ultrices. Nulla pharetra condimentum eros. Fusce laoreet dignissim turpis, nec finibus ante feugiat et. In sit amet ultricies tortor, a luctus ligula. Donec a augue velit. Nunc tincidunt ligula sit amet nisl auctor tristique. Sed iaculis sed lacus vel efficitur.
            %bibendumr/
            Pellentesque faucibus mauris et sollicitudin accumsan. Nam eu tellus elit. Ut sit amet justo vitae mi tempus feugiat. Mauris imperdiet ut elit ac efficitur. Praesent id urna sagittis, euismod ex sit amet, eleifend purus. Aenean pharetra ipsum fringilla quam vestibulum tempus sit amet quis nisl. Pellentesque magna nisl, semper nec enim eget, eleifend tempor sem. Etiam ultricies nunc condimentum mi pulvinar, vel bibendum ex feugiat. Donec nunc lacus, dictum eget libero nec, efficitur feugiat magna. Ut mauris sem, maximus sit amet cursus eget, elementum sit amet libero.

        .col-md-8
          .content-section-b-intro-img= image_tag "/images/hero/mjs-housekeeping-content-img-1.jpeg", class: 'img-reponsive'
