.jumbotron.interior-pages
  = partial "layouts/navigation"
  .container
    .row
      .col-md-6.col-md-offset-1
        %h1.jumbotron-intro-title><
          What does Mj's Housekeeping do for you?
        %ul.list-unstyled.jumbotron-intro-list><
          %li Finds and refers professional housekeepers.
          %li Offers very flexible hours of service and a wide variety of special talents.
          %li Reviews your housekeeper's performance frequently.
          %li Provides protection for your valuables.
          %li Housekeepers assume full responsibility for any damage they may cause.

        %p.text-center
          %a.btn.btn-brand-red.btn-lg{ href: "#", role: "button"} Get a Quote Now!

.content-section-a
  .container
    .row
      .col-md-12
        %h2.content-section-main-title Find out why we are the South Sound’s &#35;1 Housekeeping Referral Agency

    / .row
    /   .col-md-4.col-md-offset-4
    /     %a.content-section-tiles-3{ href: "#", role: "button"}
    /       %h3 References