.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Policies & Terms

.container.content-section-b
  .row
    .col-md-12.content-section-b-intro
      %h4 PRIVACY POLICY
  .row
    .col-md-12
      %p.content-section-b-intro-text><
        Your privacy on the Internet is of the utmost importance to us. At MJ's Housekeeping, we want to make your experience online satisfying and safe.

      %p.content-section-b-intro-text><
        Because we gather certain types of information about our users, we feel you should fully understand our policy and the terms and conditions surrounding the capture and use of that information. This privacy statement discloses what information we gather and how we use it.

      %p.content-section-b-intro-text><
        MJ's gathers two types of information about users:

      %p.content-section-b-intro-text><
        Information that users provide through optional, voluntary submissions through our “Online contact form”.
      %p.content-section-b-intro-text><
        Information we gather through aggregated tracking derived mainly by tallying page views throughout our sites. This information allows us to better tailor our content to customers' needs and better understand the demographics of our customers. Under no circumstances does MJ's divulge any information about an individual user to a third party.

      %p.content-section-b-intro-text.heading><
        Children
      %p.content-section-b-intro-text><
        Consistent with the Federal Children's Online Privacy Protection Act of 1998 (COPPA), we will never knowingly request personally identifiable information from anyone under the age of 13 without requesting parental consent.

      %p.content-section-b-intro-text.heading><
        Usage tracking
      %p.content-section-b-intro-text><
        MJ's tracks user traffic patterns throughout all of our sites. However, we do not correlate this information with data about individual users. MJ's does break down overall usage statistics according to a user's domain name, browser type, and MIME type by reading this information from the browser string (information contained in every user's browser).

      %p.content-section-b-intro-text><
        MJ's uses tracking information to determine which areas of our sites users like and don't like based on traffic to those areas. We do not track what individual users read, but rather how well each page performs overall. This helps us continue to build a better service for you. We track search terms entered in Search function as one of many measures of what interests our users. But we don't track which terms a particular user enters.

      %p.content-section-b-intro-text.heading><
        SHARING OF THE INFORMATION
      %p.content-section-b-intro-text><
        MJ's uses the above-described information to tailor our content to suit your needs and help better understand our customer's demographics. We will not share information about individual users with any third party, except to comply with applicable law or valid legal process or to protect the personal safety of our users or the public.

      %p.content-section-b-intro-text.heading><
        YOUR CONSENT
      %p.content-section-b-intro-text><
        By using this site, you consent to the collection and use of this information by MJ's Housekeeping. If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.

      %p.content-section-b-intro-text.heading><
        Agreement of Service
      %p.content-section-b-intro-text><
        This Policy and Terms Services Agreement ("Agreement") governs the use of the MJ's Housekeeping, Service ("Service") at MJ's Housekeeping ("Service Provider") website and facilities.

      %p.content-section-b-intro-text><
        Please read this Agreement carefully. Since the Service is designed to provide our customers the primary means of communication with MJ's Housekeeping, of information, opinions and comments, and an enjoyable and informative experience for all, it's users must abide by certain rules. Your use of the Service will constitute your agreement to comply with these rules.

      %p.content-section-b-intro-text><
        If you do not agree with the rules contained in this Agreement, please do not use our Service.

      %p.content-section-b-intro-text><
        The following rules may be modified by Service Provider from time to time. Notice of revisions to this Agreement will be announced on this page. Continued use of the Service by you will constitute your acceptance of any changes or revisions to the Agreement, so it's wise to check this page regularly.

      %p.content-section-b-intro-text><
        Your failure to follow the Service's rules, whether listed below or in supplemental notices posted at various points in the Service, may result in termination of your access to the Service, without notice, in addition to Service Provider's other remedies.

      %p.content-section-b-intro-text><
        Use of the Service by You
      %p.content-section-b-intro-text><
        Your right to use the Service is personal to you: You may not authorize others to use the Service in a manner which conflicts with these Terms, and you are responsible for all of your own use of the Service.

      %ul.content-section-b-intro-text-list
        %li><
          You agree that the Service shall be used for lawful purposes only and that you will not use any obscene, indecent or offensive language, or place on the Service any material that infringes in any way on the rights of others, or is false, defamatory, abusive, harassing or hateful. Further, you may not place on the Service any material that is encrypted, constitutes junk mail or unauthorized advertising, invades anyone's privacy, encourages conduct that would constitute a criminal offense or give rise to civil liability, or that otherwise violates any local, state, national or international law or regulation. You agree and acknowledge that your failure to follow the rules set forth in this Agreement may subject you to civil and criminal liability.

        %li><
          Other than connecting to Service Provider's servers by HTTP requests using a Web browser, you may not attempt to gain access to Service Provider's servers by any means - including, without limitation, by using administrator passwords or by masquerading as an administrator while using the Service or otherwise.

        %li><
          You agree that you shall not upload, post, or otherwise make available to the Service any material protected by copyright, trademark, or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. You agree that the burden of determining that any material is not protected by copyright, trademark or other proprietary right rests with you. You agree and acknowledge that you shall be solely liable for any damages resulting from any infringement of copyrights, trademarks, or proprietary rights, or any other harm resulting from any uploading, posting or submission.

        %li><
          The Service contains copyrighted material, trademarks, and other proprietary information including, but not limited to, text, software, photos, video, graphics, music and sound, and the entire content of the Service is copyrighted as a collective work under the United States copyright laws. The Service Provider owns a copyright of the selection, coordination, arrangement and enhancement of such content, as well as in the content original to it. Each third-party content provider owns the copyright in the content original to it. You are prohibited from, and agree not to, modify, publish, transmit, participate in the transfer or sale, create derivative works, or in any way exploit, any of the content of the Service, in whole or in part. Except as otherwise expressly permitted under copyright law, no copying, redistribution, publication, or commercial exploitation of downloaded material from the Service will be permitted without the express, written consent of the Service Provider and any other applicable copyright owners. In the event of any permitted copying, redistribution or publication of copyrighted material, no changes in or deletions of author attribution, trademark, legend or copyright notice shall be made. You hereby agree and acknowledge that you do not acquire any ownership rights by downloading copyrighted material.

        %li><
          You agree upon registration with the Service to provide the Service with accurate and complete name and e-mail address information, and to promptly update this information from time to time as needed.

        %li><
          Postings or e-mails are not private. All other information and material you supply or communicate to the service is governed by the Service's, which is accessible at any time from the bottom of any page on the Service.

        %li><
          You agree not to disrupt, modify or interfere with the Service or its associated software, hardware and servers in any way, and you agree not to impede or interfere with others' use of the Service. You further agree not to alter or tamper with any information or material on, or associated with, the Service.

        %li><
          You acknowledge that the Service Provider has not reviewed and does not endorse the content of all sites linked to from this Service and is not responsible for the content or actions of any other sites linked to from this Service. Linking to any other service or site from this Service is at your sole risk.

      %p.content-section-b-intro-text.heading><
        Indemnification
      %p.content-section-b-intro-text><
        You agree to indemnify the Service Provider and its affiliates, employees, agents and representatives, and to hold them harmless from any and all claims and liabilities (including attorney's fees) that may arise from your submissions, from your unauthorized use of material obtained through the Service, from your breach of this Agreement, or from any such acts arising though your use of Service.

      %p.content-section-b-intro-text.heading><
        Additional Rules
      %p.content-section-b-intro-text><
        The Service Provider reserves the right to post, from time to time, additional rules of usage that apply to specific parts of the Service. Such additional rules will be posted in the relevant parts of the Service, and will be clearly identified. Your use of the Service constitutes your agreement to comply with these additional rules.

      %p.content-section-b-intro-text.heading><
        Disclaimer of Warranty and Limitation of Liability
      %p.content-section-b-intro-text><
        YOU ACKNOWLEDGE THAT YOU ARE USING THE SERVICE AT YOUR OWN RISK. THE SERVICE IS PROVIDED "AS IS", AND THE SERVICE PROVIDER AND ITS AFFILIATES HEREBY EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF ACCURACY, RELIABILITY, TITLE, MERCHANTABILITY, NON-INFRINGEMENT, FITNESS FOR A PARTICULAR PURPOSE OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM, INCLUDING BUT NOT LIMITED TO ITS ACCURACY OR COMPLETENESS.

      %p.content-section-b-intro-text><
        SERVICE PROVIDER AND ITS AFFILIATES DO NOT REPRESENT OR WARRANT THAT THE ACCESS TO THE SERVICE WILL BE UNINTERRUPTED OR THAT THERE WILL BE NO FAILURES, ERRORS OR OMISSIONS OR LOSS OF TRANSMITTED INFORMATION, OR THAT NO VIRUSES WILL BE TRANSMITTED ON THE SERVICE.

      %p.content-section-b-intro-text><
        THE SERVICE PROVIDER AND ITS AFFILIATES SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ALLEGEDLY SUSTAINED ARISING OUT OF YOUR ACCESS TO OR INABILITY TO ACCESS THE SERVICE, INCLUDING FOR VIRUSES ALLEGED TO HAVE BEEN OBTAINED FROM THE SERVICE, YOUR USE OF OR RELIANCE ON THE SERVICE OR ANY OF THE INFORMATION OR MATERIALS AVAILABLE ON THE SERVICE, REGARDLESS OF THE TYPE OF CLAIM OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

      %p.content-section-b-intro-text><
        SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE.

      %p.content-section-b-intro-text.heading><
        Termination
        Service Provider has the right to terminate your ability to access the Service, for any reason, without notice.

      %p.content-section-b-intro-text.heading><
        Jurisdiction
      %p.content-section-b-intro-text><
        You agree that this Agreement, for all purposes, shall be governed and construed in accordance with the laws of the State of Oregon applicable to contracts to be wholly performed therein, and any action based on or alleging a breach of this Agreement must be brought in a state or federal court in Portland , Oregon . In addition, you agree to submit to the personal jurisdiction and venue of such courts.

      %p.content-section-b-intro-text.heading><
        Severability
      %p.content-section-b-intro-text><
        If any provision of this Agreement or portion thereof shall be declared invalid for any reason, the invalid provision or portion thereof shall be deemed omitted and the remaining terms shall be given full force and effect.

      %p.content-section-b-intro-text.heading><
        Entire Agreement
      %p.content-section-b-intro-text><
        This Agreement is the complete and entire agreement between the parties and supersedes any prior agreement, whether written or oral. If you don't agree to the terms contained in this Agreement, please exit the Service now.
      .panel-group.pp-accordion#headingTech{ role:"tablist", aria:{ multiselectable:"true" } }
        .panel.panel-default.text-left
          .panel-heading{ id: "headingTech", role: "tab" }
            %h4.panel-title
              %p.content-section-b-intro-text.heading><
                %a.accordion-toggle{ role:"button", data:{toggle: "collapse", parent: "#headingTech" }, href: "#collapseHeadingTech", aria:{expanded: "true", controls: "collapseHeadingTech" } }><
                  Technical Privacy Version
          .panel-collapse.collapse{id: "collapseHeadingTech", role: "tabpanel", aria:{ labelledby: "headingTech" } }
            .panel-body
              %p.content-section-b-intro-text.heading><
                About Us
              %p.content-section-b-intro-text><
                This is a privacy policy for MJ's Housekeeping. Our homepage on the Web is located at http://www.mjshousekeeping.com/index.asp. The full text of our privacy policy is available on the Web at http://www.mjshousekeeping.com/privacy_policy.asp Users may go to http://www.mjshousekeeping.com/contact_mjs_housekeeping.asp to submit an appointment request.
              %p.content-section-b-intro-text><
                We invite you to contact us if you have questions about this policy. You may contact us by mail at the following address:
              %p.content-section-b-intro-text.heading><
                MJ's Housekeeping
                %br
                4624 16th St E
                %br
                Tacoma WA 98424
                %br
                US
              %p.content-section-b-intro-text><
                You may contact us by e-mail at info@mjshousekeeping.com. You may call us at 360-359-4988.
              %p.content-section-b-intro-text.heading><
                Dispute Resolution and Privacy Seals
              %p.content-section-b-intro-text><
                We have the following privacy seals and/or dispute resolution mechanisms. If you think we have not followed our privacy policy in some way, they can help you resolve your concern.

              %p.content-section-b-intro-text.heading><
                Privacy Policy Dispute: Please contact MJs directly for questions or issues with our privacy policy.
              %p.content-section-b-intro-text.heading><
                Additional Information
              %p.content-section-b-intro-text><
                This policy is valid until 1 Jan, 2015 at 12:00:00 PST.

              %p.content-section-b-intro-text.heading><
                Data Collection
              %p.content-section-b-intro-text><
                P3P policies declare the data they collect in groups (also referred to as "statements"). This policy contains 2 data groups. The data practices of each group will be explained separately.

              %p.content-section-b-intro-text.heading><
                Group "Basic information"
              %p.content-section-b-intro-text><
                We collect the following information:

              %ul.content-section-b-intro-text-list
                %li HTTP protocol elements
                %li Navigation and click-stream data
                %li Unique identifiers
                %li Interactive data
                %li Content
                %li State management mechanisms
                %li Preference data
                %li Current location data
                %li Government-issued identifiers
              %p.content-section-b-intro-text><
                At the user's option, we may also collect the following data:

              %ul.content-section-b-intro-text-list
                %li Click-stream data
                %li Search terms
                %li Computer information
              %p.content-section-b-intro-text><
                This data will be used for the following purposes:

              %ul.content-section-b-intro-text-list
                %li Completion and support of the current activity.
                %li Web site and system administration.
                %li Research and development.
                %li User analysis.
                %li User profiling and decision-making.
              %p.content-section-b-intro-text><
                This data will be used by ourselves and our agents.
              %p.content-section-b-intro-text><
                The data in this group has been marked as non-identifiable. This means that there is no reasonable way for the site to identify the individual person this data was collected from.
              %p.content-section-b-intro-text><
                The following explanation is provided for why this data is collected:
              %p.content-section-b-intro-text><
                Data collected from all Web users: access logs, and search strings (if entered).

              %p.content-section-b-intro-text.heading><
                Group "User information"
              %p.content-section-b-intro-text><
                We collect the following information:

              %ul.content-section-b-intro-text-list
                %li Demographic data
                %li Preference data
              %p.content-section-b-intro-text><
                At the user's option, we may also collect the following data:

              %ul.content-section-b-intro-text-list
                %li Physical contact information
                %li Online contact information
                %li Home mailing address
                %li Home telephone numbers
                %li On-line address

              %p.content-section-b-intro-text><
                This data will be used for the following purposes:
              %ul.content-section-b-intro-text-list
                %li Completion and support of the current activity.
                %li Contacting visitors for marketing of services or products. You may opt-out to this usage.
              %p.content-section-b-intro-text><
                This data will be used by ourselves and our agents.
              %p.content-section-b-intro-text><
                The following explanation is provided for why this data is collected:
              %p.content-section-b-intro-text><
                This information is collected so that we can send you valuable and useful information which is relevant to your needs and interests.

              %p.content-section-b-intro-text.heading><
                Cookies
              %p.content-section-b-intro-text><
                Cookies are a technology which can be used to provide you with tailored information from a Web site. A cookie is an element of data that a Web site can send to your browser, which may then store it on your system. You can set your browser to notify you when you receive a cookie, giving you the chance to decide whether to accept it.
              %p.content-section-b-intro-text><
                We do not make use of HTTP cookies.

              %p.content-section-b-intro-text.heading><
                Compact Policy Summary
              %p.content-section-b-intro-text><
                P3P compact policies are a form of a P3P policy which summarizes what the policy says about cookies. Since this policy does not mention any use of cookies, there is no compact policy form of this policy.
              %p.content-section-b-intro-text><
                A policy mentions use of cookies if the data element "HTTP Cookies" is in any group in the policy. This data element is found under "Dynamic data".
              %p.content-section-b-intro-text.heading><
                Policy Evaluation
              %p.content-section-b-intro-text><
                Microsoft Internet Explorer 6 will evaluate this policy's compact policy whenever it is used with a cookie. The actions IE will take depend on what privacy level the user has selected in their browser (Low, Medium, Medium High, or High; the default is Medium. In addition, IE will examine whether the cookie's policy is considered satisfactory or unsatisfactory, whether the cookie is a session cookie or a persistent cookie, and whether the cookie is used in a first-party or third-party context. This section will attempt to evaluate this policy's compact policy against Microsoft's stated behavior for IE6.




