.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Competitive Rates
            %span Mj's Housekeeping is right for you?
        .col-md-7
          %p.content-section-a-intro-text><
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
.container.content-section-b
  .row.feature-wrapper
    .col-md-12.content-section-b-intro
      %h3.feature-title Helping You Find the Perfect Match!
      .row
        .col-md-6
          .row
            .col-md-9.pull-right
              .feature-bucket
                %h6 New to MJ's Housekeeping?
                %p Try our "Eight-Hour Special" for only $158.00
            .col-md-2.pull-right
              .feature-circle
                %span 1
          .row
            .col-md-9.pull-right
              .feature-bucket
                %h6 Regular Weekly or Bi-weekly Service
                %p $63.00 - 3 hours
            .col-md-2.pull-right
              .feature-circle
                %span 2
          .row

            .col-md-9.pull-right
              .feature-bucket
                %h6 Monthly Service
                %p $68.00 - 3 hours
            .col-md-2.pull-right
              .feature-circle
                %span 3
          .row

            .col-md-9.pull-right
              .feature-bucket
                %h6 First-time or Occasional Service
                %p $73.00 - 3 hours
            .col-md-2.pull-right
              .feature-circle
                %span 4
        .col-md-6
          .content-section-b-intro-img= image_tag "/images/hero/mjs-housekeeping-quote-img.jpg", class: 'img-reponsive'
      .row
        .col-md-12.content-section-b-intro
          %h3.feature-title.col-margin-md-0 Whatever you need, MJ's has a solution for you
          %h5.testimonials-subtitle But dont' just take our word for it... see what other clients are saying:
          %hr
          .row
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span.text-left "Miriam did an excellent job!  She got so much done it was unbelievable!"
                %span Chrissy B. &nbsp;–Tacoma, WA
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span "Everyone you have sent us has done such a great job!  I really appreciate it!"
                %span Katherine F. &nbsp;–Tacoma, WA
          %hr
          .row
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span "Everyone you have sent us has done such a great job!  I really appreciate it!"
                %span Katherine F. &nbsp;–Tacoma, WA
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span "Miriam did an excellent job!  She got so much done it was unbelievable!"
                %span Chrissy B. &nbsp;–Tacoma, WA
