.container.content-section-a
  .row
    .col-md-12.content-section-a-intro
      .row
        .col-md-5
          %h1.content-section-a-intro-title
            %span
              %i Competitive Rates
            %span Is Mj's Housekeeping right for you?
        .col-md-7
          %p.content-section-a-intro-text><
            Our rates are beyond reasonable – we are arguably the most affordable cleaning service in the Puget Sound area! There are a few reasons for this: You personally provide any cleaning supplies or equipment. This gives you complete control over your environment – no outside exposure of any kind to allergens, including pets/dust/etc. that may be spread by using the same products and equipment in many homes.
            %br
            %br
            Plus, we understand that although having a professional housekeeper is a luxury, it should not be a financial burden, and so we have maintained our reasonable prices over the years of general inflation in the professional cleaning service industry.
.container.content-section-b
  .row.feature-wrapper
    .col-md-12.content-section-b-intro
      %h3.feature-title We are conveniently covering the entire South Sound Area.
      .row
        .col-md-6
          .row
            .col-md-9.pull-right
              .feature-bucket
                %h6 New to MJ's Housekeeping?
                %p Try our "Eight-Hour Special" for only $158!
            .col-md-2.pull-right
              .feature-circle
                %span 1
          .row
            .col-md-9.pull-right
              .feature-bucket
                %h6 Weekly or Bi-weekly Service
                %p $21/hours*
            .col-md-2.pull-right
              .feature-circle
                %span 2
          .row

            .col-md-9.pull-right
              .feature-bucket
                %h6 Monthly or Occasional service
                %p $21/hours, plus a $5 flat fee*
            .col-md-2.pull-right
              .feature-circle
                %span 3

          .row
            .col-md-12
              %a.btn.btn-light-green.btn-lg{ href: "/get-quote", role: "button"} Get a Quote Now!
              %hr.tight
              %p><
                %small><
                  *We do have a three hour minimum when you book a service with us.
                  %br><
                  There are no obligations after your first service to continue with us afterwards.

        .col-md-6
          .content-section-b-intro-img= image_tag "/images/hero/mjs-map-service-area.png", class: 'img-reponsive'
      .row
        .col-md-12.content-section-b-intro
          %h3.feature-title.col-md-margin-bottom-0 See what our clients are saying…
          %hr
          .row
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span.text-left "Miriam did an excellent job!  She got so much done it was unbelievable!"
                %span Chrissy B. &nbsp;–Tacoma, WA
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span><
                  "MJ's is fantastic! My house looked amazing!"
                  %br
                  &nbsp;
                %span Pam N. &nbsp;–Edgewood, WA
          %hr
          .row
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span "Everyone you have sent us has done such a great job! I really appreciate it!"
                %span Nicole P. &nbsp;–Tacoma, WA
            .col-md-5.col-md-offset-1
              %p.content-section-testimonial-sub><
                %span "The house looked beautiful after Amy was there. Even my husband thought it looked great!"
                %span Chrissy B. &nbsp;–Tacoma, WA
